* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
    position: relative;
    margin: 0;
    color: black;
    background: #ffffff;
}
section {
    width: 100%;
    min-height: 60vh;
    height: auto;
    position: relative;
    display: grid;
    align-items: start;
    justify-content: center;
}



/* custom navbar styles */
nav.bg-light {
    color: black;
    background: #ffffff!important;
    padding-top: 12px;
}
nav.bg-light a.navbar-brand {
    margin: 0px auto;
    padding: 0px;
}
nav.bg-light a.navbar-brand img {
    height: 47px;
    width: 50px;
}
nav div.navbar-collapse {
    flex-direction: row-reverse;
}
nav div.navbar-collapse ul.navbar-nav {
    margin-right: 50px!important;
}
nav div.navbar-collapse ul.navbar-nav li.nav-item {
    margin-right: 15px;
}
nav div.navbar-collapse ul.navbar-nav li.nav-item .nav-link.active {
    color: #f6b025;
    position: relative;
    padding-top: 8px;
    padding-bottom: 5px;
}
nav div.navbar-collapse ul.navbar-nav li.nav-item .nav-link.active::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 8px;
    height: 2px;
    background: #f6b025;
    width: 50%;
    border-radius: 4px;
}
@media only screen and (max-width: 400px) {
    nav.bg-light a.navbar-brand {
        width: 50%;
        margin: 0px;
    }
    nav.bg-light a.navbar-brand img {
        width: 50px;
    }
    nav div.navbar-collapse ul.navbar-nav li.nav-item .nav-link.active::before {
        left: 0;
        width: 10%;
    }
}





/* header section */
section.header-section {
    position: relative;
    padding: 160px 0px 0px;
    display: block;
    height: calc(100vh - 67px);
}
section.header-section::before {
    content: "";
    position: absolute;
    bottom: -295px;
    left: 0px;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url(../images/wave-bottom.svg);
    transform: rotateY(180deg) rotateX(62deg);
    background-repeat: no-repeat;
    background-size: 101%;
    background-position-x: 0px;
    background-position-y: 0px;
}
section.header-section .header {
    display: flex;
    align-items: start;
    min-height: 375px;
    width: 100%;
}
section.header-section .header .header1-wrapper {
    width: 45%;
    overflow: hidden;
    height: 100%;
    margin-right: 5%;
    position: relative;
}
section.header-section .header .header1-wrapper h1, section.header-section .header .header1-wrapper h2 {
    color: #f6b025;
    font-weight: 100;
    position: relative;
    font-size: 40px;
}
section.header-section .header .header1-wrapper h1 {
    padding: 0px 0px 12px;
    margin-bottom: 25px;
}
section.header-section .header .header1-wrapper h1 span, section.header-section .header .header1-wrapper h2 span {
    font-weight: 700;
    color: #f6b025;
}
section.header-section .header .header1-wrapper h1::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    background: #f6b025;
    width: 25%;
    border-radius: 4px;
}
section.header-section .header .header2-wrapper {
    width: 50%;
    overflow: hidden;
    height: 100%;
    position: relative;
}
section.header-section .header .header2-wrapper img {
    width: 100%;
    height: 100%;
}
@media only screen and (max-width: 400px) {
    section.header-section {
        padding: 90px 0px 0px;
    }
    section.header-section::before {
        content: "";
        position: absolute;
        bottom: -46px;
        left: 0;
        right: 0;
        width: 100%;
        height: 200px;
        z-index: -1;
        background: url(../images/wave-bottom.svg);
        transform: rotateY(180deg) scaleX(1.1) scaleY(1.5)  rotateX(60deg);
        background-repeat: no-repeat;
        background-size: 101%;
        background-position-x: 0px;
        background-position-y: 0px;
    }
    section.header-section .header {
        display: grid;
    }
    section.header-section .header .header1-wrapper {
        width: 100%;
        margin: 0px auto;
    }
    section.header-section .header .header2-wrapper {
        width: 100%;
    }
    section.header-section .header .header1-wrapper p {
        font-size: 12px;
    }
}





/* What we do section */
section.what-we-do-section {
    background: #111111;
    padding: 0px 0px 50px;
    height: auto;
}
section.what-we-do-section .section-title p {
    display: inline-block;
    margin: 0px auto;
    position: relative;
    padding: 0px 0px 12px;
    color: #f6b025;
}
section.what-we-do-section .section-title p::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    background: #f6b025;
    width: 25%;
    border-radius: 4px;
}
section.what-we-do-section .container {
    margin-top: 60px;
}
section.what-we-do-section .service-wrapper {
    text-align: center;
    height: auto;
    margin-bottom: 40px;
    display: grid;
    justify-content: center;
    align-items: center;
}
section.what-we-do-section .service-wrapper .service-icon {
    background: #ffffff;
    margin: 0px auto 15px;
    padding: 25px 0px;
    width: 100px;
    border-radius: 50px;
    overflow: hidden;
}
section.what-we-do-section .service-wrapper .service-icon img {
    width: 50%;
    transition: transform .7s ease-in-out;
}
section.what-we-do-section .service-wrapper .service-icon img:hover {
    transform: rotate(360deg);
}
section.what-we-do-section .service-wrapper .service-content {
    padding: 2px 16px 5px 16px;
}
section.what-we-do-section .service-wrapper .service-content .service-name {
    font-size: 16px;
    color: #ffffff;
}
@media only screen and (max-width: 400px) {
    section.what-we-do-section {
        padding: 0px 0px 50px;
    }
    section.what-we-do-section .service-wrapper {
        margin-bottom: 30px;
    }
}







/* clients section */
section.client-section {
    padding: 50px 0px 50px;
    height: auto;
}
section.client-section .section-title p {
    display: inline-block;
    margin: 0px auto;
    position: relative;
    padding: 0px 0px 12px;
    color: #111111;
}
section.client-section .section-title p::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    background: #111111;
    width: 50%;
    border-radius: 4px;
}
section.client-section .container {
    margin-top: 25px;
}
section.client-section .container > .row {
    display: flex;
    justify-content: center;
    align-items: center;
}
section.client-section .clientItem {
    position: relative;
    display: grid;
    align-items: center;
    height: 420px;
    margin: 0px 10px;
    flex: 1;
}
section.client-section .clientItem .clientInner {
    width: 100%;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 4px 7px 24px -5px #888888;
    text-align: center;
    margin: 10px 0px;
}
section.client-section .clientItem .clientInner img {
    width: 100px;
    height: 70px;
}
@media only screen and (max-width: 400px) {
    section.client-section {
        padding: 50px 15px 50px;
    }
    section.client-section .clientItem {
        display: block;
        height: auto;
        margin: 0px;
    }
    section.client-section .clientItem .clientInner {
        margin-bottom: 10px;
    }
    section.client-section .clientItem .clientInner img {
        width: 100%;
    }
}





/* work section */
section.recent-work-section {
    background: #111111;
    padding: 50px 0px 50px;
    height: auto;
}
section.recent-work-section .section-title p {
    display: inline-block;
    margin: 0px auto;
    position: relative;
    padding: 0px 0px 12px;
    color: #f6b025;
}
section.recent-work-section .section-title p::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    background: #f6b025;
    width: 40%;
    border-radius: 4px;
}
section.recent-work-section > div:first-child > p {
    color: #ffffff;
}
section.recent-work-section .container {
    margin-top: 40px;
}
section.recent-work-section .project-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
section.recent-work-section .project-wrapper .project-item {
    background: #d4d4d4;
    margin: 0px 20px;
    padding: 20px;
    border-radius: 15px;
    height: 350px;
    width: 260px;
    position: relative;
}
section.recent-work-section .project-wrapper .project-item .project-image {
    width: 100%;
    height: 70%;
    overflow: hidden;
    position: relative;
    background: #ffffff;
    border-radius: 15px;
}
section.recent-work-section .project-wrapper .project-item .project-image img {
    width: 100%;
    height: 100%;
}
section.recent-work-section .project-wrapper .project-item .project-title {
    width: 100%;
    height: 30%;
    display: grid;
    grid-template-rows: 60% 40%;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
}
section.recent-work-section .project-wrapper .project-item .project-title .project-link {
    font-size: 10px;
    text-decoration: none;
    background: #f6b025;
    color: black;
    text-align: center;
    padding: 6px;
    border-radius: 20px;
    margin: 15px 0px;
}
@media only screen and (max-width: 400px) {
    section.recent-work-section {
        padding: 50px 15px 50px;
    }
    section.recent-work-section .project-wrapper {
        display: block;
    }
    section.recent-work-section .project-wrapper .project-item {
        margin: 0px auto;
        margin-bottom: 15px;
    }
}





/* about us section */
section.about-us-section {
    position: relative;
    padding: 50px 0px 0px;
    display: block;
    height: 80vh;
    overflow: hidden;
}
section.about-us-section::before {
    content: "";
    position: absolute;
    bottom: -235px;
    left: 0px;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: url(../images/wave-bottom.svg);
    transform: rotateX(63deg);
    background-repeat: no-repeat;
    background-size: 101%;
    background-position-x: -1px;
    background-position-y: 0px;
}
section.about-us-section .about {
    display: flex;
    align-items: start;
    width: 100%;
    height: 70vh;
}
section.about-us-section .about .about1-wrapper {
    width: 40%;
    overflow: hidden;
    height: 100%;
    position: relative;
}
section.about-us-section .about .about1-wrapper .simpleParallax { 
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}
section.about-us-section .about .about1-wrapper img.about-my-image{ 
    user-select: none;
    z-index: -1;
    position: absolute;
    top: 10%;
    left: 0;
    width: 65%;
}
section.about-us-section .about .about2-wrapper {
    width: 60%;
    overflow: hidden;
    height: 100%;
    margin-right: 5%;
}
section.about-us-section .about .about2-wrapper h3 {
    display: inline-block;
    margin: 0px auto 20px;
    position: relative;
    padding: 0px 0px 12px;
    color: #111111;
}
section.about-us-section .about .about2-wrapper h3::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    background: #111111;
    width: 40%;
    border-radius: 4px;
}
section.about-us-section .about .about2-wrapper ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
}
section.about-us-section .about .about2-wrapper ul.social-network li {
    display: inline;
    margin: 0 5px;
}
section.about-us-section .about .about2-wrapper ul.social-network a.icoFacebook:hover {
    background-color: #3B5998;
}
section.about-us-section .about .about2-wrapper ul.social-network a.icoLinkedin:hover {
    background-color: #007bb7;
}
section.about-us-section .about .about2-wrapper ul.social-network a.icoYoutube:hover {
    background-color: #ff0000;
}
section.about-us-section .about .about2-wrapper ul.social-network a.icoInstagram:hover {
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
}
section.about-us-section .about .about2-wrapper ul.social-network a.icoDribbble:hover {
    background-color: #ea4c89;
}
section.about-us-section .about .about2-wrapper ul.social-network a.icoBehance:hover {
    background-color: #053eff;
}
section.about-us-section .about .about2-wrapper ul.social-network a.icoFacebook:hover i,
section.about-us-section .about .about2-wrapper ul.social-network a.icoLinkedin:hover i,
section.about-us-section .about .about2-wrapper ul.social-network a.icoYoutube:hover i,
section.about-us-section .about .about2-wrapper ul.social-network a.icoInstagram:hover i,
section.about-us-section .about .about2-wrapper ul.social-network a.icoDribbble:hover i,
section.about-us-section .about .about2-wrapper ul.social-network a.icoBehance:hover i {
    color: #fff;
}
section.about-us-section .about .about2-wrapper ul.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 40px;
    height: 40px;
    font-size: 20px;
}
section.about-us-section .about .about2-wrapper ul.social-circle li i {
    margin: 0;
    line-height: 40px;
    text-align: center;
}
section.about-us-section .about .about2-wrapper ul.social-circle li a:hover i {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}
section.about-us-section .about .about2-wrapper ul.social-circle i {
    color: #595959;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}
section.about-us-section .about .about2-wrapper ul.social-network a {
    background-color: #F9F9F9;
}
@media only screen and (max-width: 400px) {
    section.about-us-section {
        padding: 75px 0px 0px;
        height: 112vh;
    }
    section.about-us-section::before {
        content: "";
        position: absolute;
        bottom: -100px;
        left: 0px;
        right: 0;
        width: 100%;
        height: 200px;
        z-index: 0;
        background: url(../images/wave-bottom.svg);
        transform: rotateX(45deg);
        background-repeat: no-repeat;
        background-size: 101%;
        background-position-x: -1px;
        background-position-y: 0px;
    }
    section.about-us-section .about {
        display: grid;
        grid-template-rows: 50% 50%;
        height: calc(130vh - 275px);
    }
    section.about-us-section .about .about1-wrapper {
        width: 100%;
        margin: 0px auto;
    }
    section.about-us-section .about .about2-wrapper {
        width: 100%;
        margin: 25px auto;
    }
    section.about-us-section .about .about2-wrapper P {
        font-size: 12px;
    }
}
  






/* footer section */
section.footer-section {
    min-height: 50px;
    height: 50px;
    background: #111111;
    color: #ffffff;
}
@media only screen and (max-width: 400px) {
    section.footer-section {
        font-size: 12px;
    }
}